#main {
    margin-left: 80px;
    max-width: 500px;
}

.button {
    background-color: #4CAF50;
    width: 150px;
	border: 2px solid #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.data {
    background-color: blue;
    border: 2px solid blue;
}

.button:hover {
    background-color: white !important;
    color: black !important;
}

div.dashboard {
	align: center;
	padding: 15px;
}

.table {
	border-spacing: 5px;
	border: 1px solid black;
	width:  100%;
}