{% extends "layout.html" %}
{% block title %}Shapes Listing{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="../static/css/any_shape.css">
{% endblock %}
{% block content %}
	<h4>All the Shapes</h4>
	<table>
	<tr><th>ID</th><th>Name</th><th>Vertexes</th><th>Faces</th><th>Edges</th><th>Tetravolume</th></tr>
	{% for item in the_data.items() %}
	<tr>
	   <td>{{ item[1][0] }}</td>
	   <td>{{ item[1][1] }}</td>
	   <td>{{ item[1][3] }}</td>
	   <td>{{ item[1][4] }}</td>
	   <td>{{ item[1][5] }}</td>
	   <td>{{ item[1][7] }}</td>
	</tr>
	{% endfor %}
	</table>
{% endblock %}