{% extends "layout.html" %}
{% block title %}Chemical Elements{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div id="main">
    <div class="dashboard">
    <button class="button" onclick="goHome()">Home</button>
    <button class="button" onclick="goTerms()">Terms</button>
    <button class="button" onclick="goShapes()">Shapes</button>
    </div>
    <h4>API: ELEMENTS</h4>
    <table class="table">
    <tr>
    <td width="50%">
    <i>HTML views</i><br />
    <br /><a href="/elements">/elements</a>
    <br /><a href="/elements/H">/elements/H</a>
    <br /><a href="/elements/Si">/elements/Si</a>
    <br />...
    <br /><a href="/elements/all">/elements/all</a><br />
    </td><td width="50%">
    <i>JSON output</i><br />
    <br /><a href="/api/elements?elem=H">/api/elements?elem=H</a>
    <br /><a href="/api/elements?elem=O">/api/elements?elem=O</a>
    <br />...
    <br /><a href="/api/elements?elem=all">/api/elements?elem=all</a><br />
    <br />
    </td></tr>
    </table>
</div>
{% endblock %}
