<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" type="text/css" href="../static/css/home.css">
        <title>Chemical Elements</title>
    </head>
<body>
<div id="main">
    <h4>API: ELEMENTS</h4>
    <br />(<i>HTML views</i>)<br />
    <br /><a href="/elements">/elements</a>
    <br /><a href="/elements/H">/elements/H</a>
    <br /><a href="/elements/Si">/elements/Si</a>
    <br />...
    <br /><a href="/elements/all">/elements/all</a>
    <br />
    <br />(<i>JSON output</i>)<br />
    <br /><a href="/api/elements?elem=H">/api/elements?elem=H</a>
    <br /><a href="/api/elements?elem=O">/api/elements?elem=O</a>
    <br />...
    <br /><a href="/api/elements?elem=all">/api/elements?elem=all</a>
</div>
</body>
</html>
