<!DOCTYPE html>
<html>
    <head>
	<link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <script src="../static/js/home.js"></script>
        <title>A RESTful Flask App</title>
    </head>
 <body onload="sponsored_by()"> 
 	<div id="main">

 	 <div align="center">
	 <h4>WSGI Flask Application with RESTful API</h4>
	 <p>by Kirby Urner <br />
	 <a href="http://www.4dsolutions.net">Oregon Curriculum Network</a></p>
	 </div>

	 <br>
	 <p>A tiny Flask application, used in my forty hour Python course as an example.</p>
	 <p>Open Source:  feel free to clone</p>
	 <ul>
	 <li><a href="https://github.com/4dsolutions/tiny_flask">Source Code on Github</a> (public repo)</li>
	 <li><a href="http://controlroom.blogspot.com/2016/08/dissecting-flask-app.html">Dissecting a Flask App</a> (blog post)</li>
	 </ul>
	    <h4>Here's the API:</h4>
	    (<i>returns JSON</i>)<br />
	    <br /><a href="/api/elements?elem=H">/api/elements?elem=H</a>
	    <br /><a href="/api/glossary?term=AJAX">/api/glossary?term=AJAX</a>
	<br />
	    <br /><a href="/api/elements?elem=all">/api/elements?elem=all</a>
	    <br /><a href="/api/glossary?term=all">/api/glossary?term=all</a>
	    
	<br />
	<h4>More options:</h4>
	    (<i>returns HTML</i>)<br />
	    <br /><a href="/elements">/elements</a>
	    <br /><a href="/elements/H">/elements/H</a>
	    <br /><a href="/elements/all">/elements/all</a><br />
	<br />	
	with parallel API for /glossary<br />
	    <br /><a href="/glossary">/glossary</a>
	    <br /><a href="/glossary/.NET">/glossary/.NET</a>
	    <br /><a href="/glossary/all">/glossary/all</a><br />
	<br />
	and for /polyhedra (under development)<br />
	    <br /><a href="/shapes">/shapes</a>
	    <br /><a href="/shapes/icosa">/shapes/icosa</a>
	    <br /><a href="/shapes/all">/shapes/all</a><br />
	<br />
	<br /><p>Polyhedrons: Platonics + Dual Combos such as Rhombic Triacontahedron</p>
	<br /><p>The JSON API (for scripts and bots) applies to all of these as well</p>
	<br />
	POST methods implemented for submitting data remotely (<a href="https://github.com/4dsolutions/tiny_flask/blob/master/flask_client.py">example script</a>), for adding to either database.<br />
	<br />
	<div align="center">
	<a data-flickr-embed="true"  href="https://www.flickr.com/photos/kirbyurner/28770194550/in/dateposted-public/" title="web_dev"><img src="https://c7.staticflickr.com/9/8337/28770194550_a29cd808bc.jpg" width="500" height="313" alt="web_dev"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
	</div>
	<br />
	<span id="sponsor"></span>
	</div>
</body>
</html>