<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" type="text/css" href="../static/css/home.css">
        <title>Polyhedrons in Inventory</title>
    </head>
<body>
<div id="main">
    <h4>API: SHAPES</h4>
    <br />(<i>HTML views</i>)<br />
    <br /><a href="/shapes">/shapes</a>
    <br /><a href="/shapes/icosa">/shapes/icosa</a>
    <br /><a href="/shapes/tetra">/shapes/tetra</a>
    <br />...
    <br /><a href="/shapes/all">/shapes/all</a>
    <br />
    <br />(<i>JSON output</i>)<br />
    <br /><a href="/api/shapes?shape=icosa">/api/shapes?shape=icosa</a>
    <br /><a href="/api/shapes?shape=tetra">/api/shapes?shape=tetra</a>
    <br />...
    <br /><a href="/api/shapes?shape=all">/api/shapes?shape=all</a>
</div>
</body>
</html>
